body{
    margin: 0 20% 0 20%;
    font-size: 150%
}
h1, h2{
    color: rgb(150, 150, 150);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
}
p {
    color: rgb(180, 180, 180);
    text-align: justify;
}
a {
    color: rgb(130, 130, 130);
    text-decoration: none;
}
a:hover {
    color: rgb(140, 140, 140);
}
a:visited {
    color: rgb(120, 120, 120);
}
ul {
    text-align: center;
    list-style-type: none;
}
header {
    text-align: center;
    margin-left: 5%;
}
/*Removes margin on smaller screens and slightly lowers font size*/
@media screen and (max-width: 750px){
    p {
        font-size: 100%;
    }
    body{
        margin: 0 1% 0 1%;
        font-size: 100%;
    }
}