h2, p {
   font-size: 150%;
   letter-spacing: .06rem;
}
h2 {
   margin: 8% 0 0 11%;
}
p {
    margin: 1% 0 0 11%;
}
ul {
    margin: 2.5% 0 0 10%;
    list-style-type: none;
}
a {
    text-decoration: none;
    font-size: 280%;
    color: rgb(200, 200, 200);
}
a:hover {
    color: rgb(165, 165, 165);
}