/*generic styling for my home pages. I should maybe combine the basic-text-style.css with this file*/
* {
    font-family: sans-serif;
    color: rgb(180, 180, 180);
    background-color: rgb(33, 33, 33);
}
